.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: clamp(52px, 13vw, 66px);
  gap: clamp(8px, 2vw, 12px);
}

.grid > div {
  display: flex;
}

.grid > div > button {
  flex: 1;
}
